.studyItem {
    display: flex;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    color:white
}

.studyItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1)
}

.studyItemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.titleContainer {
    justify-content: center;
    align-content: center;
}
.title {
    font-size: 24px;
}