html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sections {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}