.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: linear-gradient(45deg, #1c7ed6, #8045e4);
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}